<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Narad</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/assets/css/grid.css" rel="stylesheet">
    <!-- JQuery JSON styles -->
    <link href="/assets/json/jquery.json-viewer.css" rel="stylesheet">
    <!-- JS Util -->
    <script src="/assets/js/util.js"></script>
    <!-- JS Main -->
    <script src="/assets/js/search.js"></script>
    <!-- Moment (for data picker) js -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <!-- Include Date Range Picker --> 
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
    <style>
      td {
        vertical-align: top;
      }
      h5 {
        color: pink;
      }

      td, th {
        padding-right: 10px;
        padding-left: 10px;
      }
    </style>

  </head>
  <body>
    <div class="container">

      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
       </div>

       <hr>

       <h4>SEARCH</h4>

       <hr>
       <h5><span id="team1">Team name</span><span id="scorehome"></span></h5>
       <hr>

       <table>
         <th  style='border-right: 1px solid black;'>
           As Home player <span id="scorehomehome"></span>
         </th>
         <th>
            As Away player <span id="scorehomeaway"></span>
          </th>
        <tr>
          <td style='border-right: 1px solid black;'><div id="homehome" class="search">...</div></td>
          <td><div id="homeaway" class="search">...</div></td>
        </tr>
        </table>

        <hr>
        <h5><span id="team2">Team name</span><span id="scoreaway"></span></h5>
        <hr>

        <table>
          <th style='border-right: 1px solid black;'>
            As Home player <span id="scoreawayhome"></span>
          </th>
          <th>
            As Away player <span id="scoreawayaway"></span>
          </th>
          <tr>
            <td style='border-right: 1px solid black;'><div id="awayhome" class="search">...</div></td>
            <td><div id="awayaway" class="search">...</div></td>
          </tr>
       </table>

       <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
       <!-- JQuery JSON js -->
       <script src="/assets/json/jquery.json-viewer.js"></script>
       <!-- Include Date Range Picker --> 
       <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    
      <script>
        $(document).ready( function() { 
          var team1 = unescape(urlParam('team1'));
          $('#team1').html(team1)
          var team2 = unescape(urlParam('team2'));
          $('#team2').html(team2)
          datePickerForSearch(search, team1, team2);
        });     
      </script>

    </div>
  </body>
</html>
